<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">

    <title><% title %></title>
</head>
<body class="myorders">
    <nav>
        <a href="/" <%- title === 'Home' ? 'class="active"' : '' %>>HOME</a>
        <a href="/orders" <%- title === 'ORDERS' ? 'class="active"' : '' %>>ORDERS</a>
    </nav>
 

 <% if (orders.length) { %>
    <table>
      <thead>
        <tr>
          <th>Size</th>
          <th>Cake Flavor</th>
          <th>Ice Cream Base</th>
          <th>Ice Cream Flavor</th>
        </tr>
      </thead>
      <tbody>
        <% orders.forEach(function(o) { %>
          <tr>
            <td><%= o.size %></td>
            <td><%= o.cakeFlavor %></td>
            <td><%= o.baseType %></td>
            <td><%= o.flavor %></td>
              <td>
                <form action="/orders/<%= o.id %>?_method=DELETE"
                class="delete-form" method="POST">
                 <button type="submit">X</button>
              </form>
              <a href="/orders/<%= o.id %>/edit">Edit Cake</a>
              </form>
              </td>
          </tr>
        
        <% }); %>
        
      </tbody>
    </table>
  <% } else { %>
    <h5>No Orders Yet</h5>
  <% } %>

